
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik+Dirt&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Bangers", system-ui;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

#quiz-container {
    margin-bottom: 20px;
}

#question {
    font-size: 20px;
    margin-bottom: 15px;
}

#options {
    margin-bottom: 20px;
}

#next-btn {
    font-family: "Bangers", system-ui;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#next-btn:hover {
    background-color: #45a049;
}

#next-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#score {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

/* Estilo para o card de erro */
#error-message {
    display: none; /* Inicialmente oculto */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffcccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
    z-index: 10;
}

#error-message p {
    font-size: 16px;
    font-weight: bold;
    color: #d9534f;
    white-space: nowrap;
    overflow: hidden;
    border-right: .15em solid #d9534f;
    width: 0;
    animation: typing 3s steps(30) 1s forwards, blinkCaret 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blinkCaret {
    50% {
        border-color: transparent;
    }
}

/* Estilo para as alternativas que se parecem com botões */
.option {
    background-color: #f1f1f1;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.option:hover {
    background-color: #d3d3d3;
}

.option:active {
    background-color: #b5b5b5;
}

.option.correct {
    background-color: #28a745;
    color: white;
}

.option.incorrect {
    background-color: #dc3545;
    color: white;
}

.correct-answer {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #28a745;
}

.justification {
    font-size: 14px;
    margin-top: 10px;
    color: #333;
}


